.movies-cards {
    padding: 70px 70px 80px;
}

.movies-cards__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 38px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.movies-cards__more-button {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    width: 100%;
    background-color: #F9F9F9;
    border-radius: 6px;
    padding: 0;
    margin-top: 60px;
    border: none;
    height: 36px;
    cursor: pointer;
    transition: 0.3s;
}

.movies-cards__more-button:hover {
    opacity: 0.7;
}

@media screen and (max-width: 900px) {
    .movies-cards {
        padding: 70px 30px 80px;
    }

    .movies-cards__list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 30px;
    }
}

@media screen and (max-width: 600px) {
    .movies-cards {
        padding: 40px 10px 80px;
    }

    .movies-cards__list {
        grid-template-columns: 1fr;
        row-gap: 34px;
    }
}