.movie-card {
    display: flex;
    flex-direction: column;
}

.movie-card__image {
    width: 100%;
    object-fit: cover;
    background-size: 100% 100%;
}

.movie-card__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
    padding: 9px 0 25px;
}

.movie-card__title {
    max-width: 226px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
}

.movie-card__duration {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
    margin: 6px 0 0;
}

.movie-card__like-button {
    background: url(../../images/like-button.svg) no-repeat center;
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    transition: 0.3s;
}

.movie-card__like-button_active {
    background: url(../../images/like-bitton-active.svg) no-repeat center;
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    transition: 0.3s;
}

.movie-card__delete-button {
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    padding: 0;
    background-color: inherit;
    transition: 0.3s;
    cursor: pointer;
}

.movie-card__delete-button:hover {
    background: url(../../images/delete-button.svg) no-repeat center;
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    padding: 0;
}

.movie-card__like-button:hover {
    opacity: 0.7;
}

.movie-card__like-button_active:hover {
    opacity: 0.7;
}

@media screen and (max-width: 600px) {
    .movie-card__description {
        padding-top: 11px;
    }

    .movie-card__title {
        font-size: 12px;
        line-height: 15px;
    }

    .movie-card__duration {
        font-size: 10px;
        line-height: 12px;
    }
}